settings.twitter_consumer_key    = "Q3tqxJrvM01dAxS7ddfiJyzgI"
settings.twitter_consumer_secret = "BnHCNvQ2i5g9yjasMi37pz3cBHQ5b8xmPKTWuFMWwM3t2iPRTp"

settings.facebook_app_id      = "682065051904727"
settings.facebook_app_secret  = "3854264d01d6f72e5b59593835f32493"

# settings.proxy_url = "http://115.28.144.151:13128"
